<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
	  <target name="Console" xsi:type="Console" layout="${longdate} ${message} ${exception:format=ToString}"/>
	  <target xsi:type="File" name="alldata" fileName="${basedir}/logs/vacancy-aggregator.servise/${shortdate}.log"
				layout="${longdate} ${message} ${exception:format=ToString}"
			  keepFileOpen="false" maxArchiveFiles="10" archiveAboveSize="1204800" />
	  
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
	  <logger name="*" minlevel="Trace" writeTo="alldata" />
	
  </rules>
</nlog>